.flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
}

.front,.back {
  backface-visibility: hidden
}

.front {
  transform: rotateY(0deg)
}

.back {
  transform: rotateY(180deg)
}
